<!doctype html>
<html>
    <head>
        {{ include('@guide/head.twig') }}
    </head>
    <body>
        <div class="mx-auto flex flex-col min-h-screen">
            {{ app.cmp('Modules\\Guide\\Navbar')|raw }}
            <main class="container mb-auto mx-auto px-4 py-4">
                {% block content %}
                {% endblock %}
            </main>
            <footer class="footer footer-center p-4 bg-base-300 text-base-content">
                <aside>
                    <p>Copyright © 2024 - All right reserved by ACME Industries Ltd</p>
                </aside>
            </footer>
        </div>
    </body>
</html>
